/* paleta principal  */
:root {
  --bg: #161616;
  --surface: #262626;
  --accent: #78a9ff;
  --accent-2: #3ddbd9;
  --text: #f2f4f8;
  --muted: #6f6f6f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg);
  min-height: 100vh;
  font-family: 'IBM Plex Sans', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-size: 60px;
  color: var(--text);
}

h3 {
  padding-top: 8px;
  padding-bottom: 8px;
  color: var(--text);
}

p {
  color: var(--muted);
  font-size: 18px;
}

.container {
  display: flex;
  gap: 0.8rem;
  padding-top: 4rem;
  padding-left: 4.4rem;
  padding-right: 4.4rem;
  max-width: 1250px;
  margin: 0 auto;
}

.box {
  flex: 1;
  padding: 1rem;
  border-radius: 8px;
}
