/* paleta principal  */
:root {
  --bg: #161616;
  --surface: #262626;
  --accent: #78a9ff;
  --accent-2: #3ddbd9;
  --text: #f2f4f8;
  --muted: #6f6f6f;
}

body {
  background-color: var(--bg);
}

li {
  font-size: 1.2rem;
  color: var(--surface); #TODO procurar uma cor melhor 
}

h1 {
  font-size: 3rem;
  color: var(--text);
}

h2 {
  color: var(--text);
}

p {
  font-size: 1.2rem;
  color: var(--text);
}

p muted {
  font-size: 1.2rem;
  color: var(--muted);

}

a {
  color: var(accent-2);
}
